// =========colors===============

// primary
$black: #323232;
$silver: #afafaf;
$white: #fff;

//secondary
$darkBlack: #000;
$mercury: #e1e1e1;
$alabaster: #fafafa;



// ========layouts================
$tablet: 768px;
$desktop: 1280px;



// =======font ===================
$normal-font: "AvenirNext";
