@use "./partials/variables";
@use "./partials/mixins";
@use "./partials/global" as *;
@use "./partials/fonts" as *;

//header
.header {
	background: linear-gradient(
			rgba(variables.$black, 0.5),
			rgba(variables.$black, 0.5)
		),
		url("../assets/images/hero-bio.jpg");
	background-size: cover;
	background-position: center;
	height: 50vh;
	max-height: 500px;
	background-repeat: no-repeat;

	display: flex;
	align-items: center;
	h1 , h2{
		color: variables.$white;
	}
	@include mixins.tablet {
		height: 60vh;
	}
}

//main
.main {
	.main__image {
		padding-bottom: 1rem;
	}
	.main__quote {
		q {
			font-weight: 600;
		}
	}
	.vocalist {
		padding-top: 0.5rem;
		font-weight: 600;
	}
	.artist-info__left,
	.artist-info__right {
		padding-bottom: 1rem;
	}

	@include mixins.tablet {
		.artist-info {
			display: flex;
			gap: 1rem;
			padding-bottom: 1rem;
		}
		q {
			font-size: 1.35rem;
		}
		.quote-para {
			margin-top: 1rem;
		}
		.vocalist {
			font-size: 1rem;
		}
	}
	@include mixins.desktop {
		.quote-para {
			width: 65%;
			line-height: 1.5rem;
		}
	}
}
//section
.section {
	background-color: variables.$alabaster;
	.section__gallery {
		img {
			padding-bottom: 1rem;
		}
		@include mixins.tablet {
			display: flex;
			// gap: 1rem;
			flex-wrap: wrap;
			justify-content: space-between;
			padding-bottom: 2rem;
			& img {
				width: 31.333%;
				padding-bottom: 0;
				margin: 1%;
			}
		}
		@include mixins.desktop {
			img {
				filter: grayscale(0.8);
				transition: 0.5s;
			}
			& :hover {
				filter: grayscale(0);
			}
		}
	}
}

// COMMENT SECTION

.comment-section {
	&__divider {
		height: 1px;
		width: 100%;
		border: 1px solid variables.$mercury;
		margin-top: 1rem;
	}
}

//avatar
.avatar {
	border-radius: 50%;
	max-width: 2.25rem;
	max-height: 2.25rem;
	width: 2.25rem;
	height: 2.25rem;
	@include mixins.tablet {
		width: 3rem;
		height: 3rem;

		max-width: 3rem;
		max-height: 3rem;
	}
}

//form

.form {
	display: flex;
	padding-bottom: 1rem;

	&__container {
		width: 85%;
	}
	&__image {
		width: 15%;
		padding-top: 2.25rem;
		display: flex;
		justify-content: center;
	}
	&__body {
		display: flex;
		flex-direction: column;
	}
	&__input,
	&__textArea {
		min-height: 2.25rem;
		border-radius: 0.25rem;
		padding: 0.75rem;
		background-color: variables.$alabaster;
		border: 1px solid variables.$mercury;
		font-family: inherit;

		@include mixins.tablet {
			min-height: 3rem;
			padding: 16px;
		}
	}
	&__input:focus,
	&__textArea:focus {
		border: 1px solid variables.$black;
		outline: none;
	}
	&__label {
		padding-bottom: 4px;
		margin-top: 1rem;
		color: variables.$silver;
		font-weight: 400;
	}
}

// /button
.btn {
	margin-top: 1rem;
	height: 2.5rem;
	border-radius: 0.25rem;
	background-color: variables.$black;
	color: variables.$white;

	&:hover {
		background-color: variables.$darkBlack;
		cursor: pointer;
	}
	@include mixins.tablet {
		min-width: 9.375rem;
		padding: 0 2rem;
		margin: 1rem 0 1rem auto;
	}
}

//comments

.comments {
	padding: 1rem 0;

	&__card {
		display: flex;
		padding: 1rem 0;

		@include mixins.tablet {
			padding: 1rem 0;
		}
	}

	&__img {
		max-height: 2.25rem;
		max-width: 2.25rem;
		background: variables.$mercury;
		width: 2.25rem;
		height: 2.25rem;
		border-radius: 50%;
		@include mixins.tablet {
			width: 3rem;
			height: 3rem;

			max-width: 3rem;
			max-height: 3rem;
		}
	}

	&__image-holder {
		width: 15%;
		display: flex;
		justify-content: center;
	}
	&__heading {
		display: flex;
		justify-content: space-between;
		padding-bottom: 0.5rem;
	}
	&__body {
		width: 85%;
	}

	&__name {
		font-weight: 600;
		@include mixins.tablet {
			line-height: 1.375rem;
		}
	}
	&__date {
		color: variables.$silver;
		@include mixins.tablet {
			line-height: 1.375rem;
		}
	}
	&__message {
		line-height: 1.125rem;
		@include mixins.tablet {
			line-height: 1.375rem;
		}
	}
}
