@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "AvenirNext";
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

.container {
  padding: 0 1rem;
  max-width: 1920px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }
}

.container--small {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .container--small {
    width: 80%;
    margin: 0 auto;
  }
}

.container--xs {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .container--xs {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1280px) {
  .container--xs {
    width: 45%;
    margin: 0 auto;
  }
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    font-weight: 600;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}

h3 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}

nav {
  background-color: #323232;
  padding-top: 1rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  nav .nav__contents {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
  }
}
nav .nav__logo {
  background-color: #323232;
  max-height: 1.25rem;
  max-width: 7.5rem;
  margin: 0.5rem auto;
  text-align: center;
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  nav .nav__logo {
    padding: 0;
    text-align: left;
    margin: 0;
  }
}
nav .active {
  border-bottom: 3px solid #fff;
}
nav .active a {
  color: #fff;
  font-weight: bold;
}
nav .container {
  padding: 0;
}
nav .inactive a {
  color: #e1e1e1;
}
nav .nav__menu {
  display: flex;
}
nav .nav__menu:hover .menu__link {
  opacity: 0.2;
}
nav .nav__menu .menu__link {
  width: 50%;
  padding: 1rem 0;
  transition: 0.25s;
}
nav .nav__menu .menu__link:hover {
  border-bottom: 3px solid #fff;
  transform: scale(0.9);
  opacity: 1;
  transition: 0.25s;
}
nav .nav__menu .menu__link:hover a {
  color: #fff;
}
@media screen and (min-width: 768px) {
  nav .nav__menu {
    gap: 4rem;
  }
}

footer {
  background-color: #323232;
  color: #fff;
}
footer .footer__content {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  footer .footer__content {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
footer .social {
  display: flex;
  flex-direction: column;
}
footer .social .social__icons-set {
  display: flex;
  justify-content: flex-start;
}
footer .social .social__icons-set .social__icon {
  margin: 1rem 2rem 1rem 0;
}
footer .social .social__icons-set .social__icon img {
  width: 2rem;
  height: 2rem;
}
@media screen and (min-width: 768px) {
  footer .social {
    flex-direction: row;
    flex-basis: 85%;
    align-items: baseline;
    gap: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  footer .social {
    flex-basis: 90%;
  }
}
footer .footer__logo {
  background-color: #323232;
  max-height: 1.25rem;
  max-width: 7.5rem;
  margin-top: 3rem;
  order: 1;
}
@media screen and (min-width: 768px) {
  footer .footer__logo {
    order: unset;
    margin: 4rem 0;
    flex-basis: 15%;
  }
}
footer .contact {
  margin-top: 1rem;
}
footer .contact .contact__name-group,
footer .contact .contact__address-group,
footer .contact .contact__email {
  margin-bottom: 1rem;
}
footer .contact .contact__name-group {
  font-weight: 600;
}
footer .contact .contact__email a {
  color: #fff;
}
@media screen and (min-width: 768px) {
  footer .contact {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
    flex-basis: 100%;
  }
}
@media screen and (min-width: 1280px) {
  footer .contact {
    justify-content: flex-start;
    gap: 4rem;
  }
}
footer .copyright {
  order: 2;
  margin: 1rem 0;
  padding-bottom: 1rem;
}

.header {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  height: 50vh;
  max-height: 500px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.header h1,
.header h2 {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .header {
    height: 60vh;
  }
}

.main .main__image {
  padding-bottom: 1rem;
}
.main .main__quote q {
  font-weight: 600;
}
.main .vocalist {
  padding-top: 0.5rem;
  font-weight: 600;
}
.main .artist-info__left,
.main .artist-info__right {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .main .artist-info {
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
  }
  .main q {
    font-size: 1.35rem;
  }
  .main .quote-para {
    margin-top: 1rem;
  }
  .main .vocalist {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .main .quote-para {
    width: 65%;
    line-height: 1.5rem;
  }
}

.section {
  background-color: #fafafa;
}
.section .section__gallery img {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .section .section__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 2rem;
  }
  .section .section__gallery img {
    width: 31.333%;
    padding-bottom: 0;
    margin: 1%;
  }
}
@media screen and (min-width: 1280px) {
  .section .section__gallery img {
    filter: grayscale(0.8);
    transition: 0.5s;
  }
  .section .section__gallery :hover {
    filter: grayscale(0);
  }
}

.comment-section__divider {
  height: 1px;
  width: 100%;
  border: 1px solid #e1e1e1;
  margin-top: 1rem;
}

.avatar {
  border-radius: 50%;
  max-width: 2.25rem;
  max-height: 2.25rem;
  width: 2.25rem;
  height: 2.25rem;
}
@media screen and (min-width: 768px) {
  .avatar {
    width: 3rem;
    height: 3rem;
    max-width: 3rem;
    max-height: 3rem;
  }
}

.form {
  display: flex;
  padding-bottom: 1rem;
}
.form__container {
  width: 85%;
}
.form__image {
  width: 15%;
  padding-top: 2.25rem;
  display: flex;
  justify-content: center;
}
.form__body {
  display: flex;
  flex-direction: column;
}
.form__input, .form__textArea {
  min-height: 2.25rem;
  border-radius: 0.25rem;
  padding: 0.75rem;
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  font-family: inherit;
}
@media screen and (min-width: 768px) {
  .form__input, .form__textArea {
    min-height: 3rem;
    padding: 16px;
  }
}
.form__input:focus, .form__textArea:focus {
  border: 1px solid #323232;
  outline: none;
}
.form__label {
  padding-bottom: 4px;
  margin-top: 1rem;
  color: #afafaf;
  font-weight: 400;
}

.btn {
  margin-top: 1rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  background-color: #323232;
  color: #fff;
  border: none;
}
.btn:hover {
  background-color: #000;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .btn {
    min-width: 9.375rem;
    padding: 0 2rem;
    margin: 1rem 0 1rem auto;
  }
}

.comments {
  padding: 1rem 0;
}
.comments__card {
  display: flex;
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .comments__card {
    padding: 1rem 0;
  }
}
.comments__img {
  max-height: 2.25rem;
  max-width: 2.25rem;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .comments__img {
    width: 3rem;
    height: 3rem;
    max-width: 3rem;
    max-height: 3rem;
  }
}
.comments__image-holder {
  width: 15%;
  display: flex;
  justify-content: center;
}
.comments__heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}
.comments__body {
  width: 85%;
}
.comments__name {
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .comments__name {
    line-height: 1.375rem;
  }
}
.comments__date {
  color: #afafaf;
}
@media screen and (min-width: 768px) {
  .comments__date {
    line-height: 1.375rem;
  }
}
.comments__message {
  line-height: 1.125rem;
}
@media screen and (min-width: 768px) {
  .comments__message {
    line-height: 1.375rem;
  }
}
.comments__likesection {
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.comments__like {
  border-radius: 4px;
  padding: 0.25rem 1rem;
  background-color: #323232;
  color: #fff;
  cursor: pointer;
}
.comments__delete {
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  color: #fff;
  cursor: pointer;
}/*# sourceMappingURL=bio.css.map */