@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "AvenirNext";
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

.container {
  padding: 0 1rem;
  max-width: 1920px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }
}

.container--small {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .container--small {
    width: 80%;
    margin: 0 auto;
  }
}

.container--xs {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .container--xs {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1280px) {
  .container--xs {
    width: 45%;
    margin: 0 auto;
  }
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    font-weight: 600;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}

h3 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}

nav {
  background-color: #323232;
  padding-top: 1rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  nav .nav__contents {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
  }
}
nav .nav__logo {
  background-color: #323232;
  max-height: 1.25rem;
  max-width: 7.5rem;
  margin: 0.5rem auto;
  text-align: center;
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  nav .nav__logo {
    padding: 0;
    text-align: left;
    margin: 0;
  }
}
nav .active {
  border-bottom: 3px solid #fff;
}
nav .active a {
  color: #fff;
  font-weight: bold;
}
nav .container {
  padding: 0;
}
nav .inactive a {
  color: #e1e1e1;
}
nav .nav__menu {
  display: flex;
}
nav .nav__menu:hover .menu__link {
  opacity: 0.2;
}
nav .nav__menu .menu__link {
  width: 50%;
  padding: 1rem 0;
  transition: 0.25s;
}
nav .nav__menu .menu__link:hover {
  border-bottom: 3px solid #fff;
  transform: scale(0.9);
  opacity: 1;
  transition: 0.25s;
}
nav .nav__menu .menu__link:hover a {
  color: #fff;
}
@media screen and (min-width: 768px) {
  nav .nav__menu {
    gap: 4rem;
  }
}

footer {
  background-color: #323232;
  color: #fff;
}
footer .footer__content {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  footer .footer__content {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
footer .social {
  display: flex;
  flex-direction: column;
}
footer .social .social__icons-set {
  display: flex;
  justify-content: flex-start;
}
footer .social .social__icons-set .social__icon {
  margin: 1rem 2rem 1rem 0;
}
footer .social .social__icons-set .social__icon img {
  width: 2rem;
  height: 2rem;
}
@media screen and (min-width: 768px) {
  footer .social {
    flex-direction: row;
    flex-basis: 85%;
    align-items: baseline;
    gap: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  footer .social {
    flex-basis: 90%;
  }
}
footer .footer__logo {
  background-color: #323232;
  max-height: 1.25rem;
  max-width: 7.5rem;
  margin-top: 3rem;
  order: 1;
}
@media screen and (min-width: 768px) {
  footer .footer__logo {
    order: unset;
    margin: 4rem 0;
    flex-basis: 15%;
  }
}
footer .contact {
  margin-top: 1rem;
}
footer .contact .contact__name-group,
footer .contact .contact__address-group,
footer .contact .contact__email {
  margin-bottom: 1rem;
}
footer .contact .contact__name-group {
  font-weight: 600;
}
footer .contact .contact__email a {
  color: #fff;
}
@media screen and (min-width: 768px) {
  footer .contact {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
    flex-basis: 100%;
  }
}
@media screen and (min-width: 1280px) {
  footer .contact {
    justify-content: flex-start;
    gap: 4rem;
  }
}
footer .copyright {
  order: 2;
  margin: 1rem 0;
  padding-bottom: 1rem;
}

.header-shows {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-shows.jpg");
  background-size: cover;
  background-position: center;
  height: 70vh;
  max-height: 600px;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .header-shows {
    height: 80vh;
    max-height: 800px;
  }
}
@media screen and (min-width: 1280px) {
  .header-shows {
    height: 80vh;
    max-height: 800px;
    display: flex;
  }
}
.header__title, .header__subtitle {
  color: #fff;
}
.header__title {
  word-spacing: 0.5rem;
}
@media screen and (min-width: 768px) {
  .header__title {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
}
.header__subtitle {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.375rem;
  padding-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .header__subtitle {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-bottom: 0;
  }
}

.hero__song {
  margin-top: 0.75rem;
}
@media screen and (min-width: 768px) {
  .hero__song {
    width: 60%;
    max-width: 500px;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
}

.shows {
  padding: 0.5rem 0;
}
@media screen and (min-width: 1280px) {
  .shows {
    padding-top: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__container {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .shows__heading {
    padding-left: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__heading {
    width: 20%;
    padding-top: 0;
  }
}
@media screen and (min-width: 1280px) {
  .shows__list {
    width: 80%;
  }
}
.shows__title--large {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows__title--large {
    display: flex;
    padding-top: 0.75rem;
    padding: 0 1rem;
  }
}
.shows__title--large .title--large {
  width: 25%;
  color: #afafaf;
  font-weight: 600;
}
.shows__title--large .button--large {
  visibility: hidden;
}
.shows__cards {
  width: 100%;
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .shows__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.shows__card {
  padding: 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .shows__card {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
    padding: 1.5rem 1rem;
  }
}
.shows__card:hover {
  background-color: #fafafa;
}
.shows__btn {
  width: 100%;
  margin: 1rem 0;
  height: 2.5rem;
  border-radius: 0.25rem;
  background-color: #323232;
  color: #fff;
}
.shows__btn:hover {
  background-color: #000;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .shows__btn {
    padding: 0 2rem;
    margin: 1rem 0 1rem auto;
    width: 23%;
  }
}
.shows__title {
  color: #afafaf;
  font-weight: 600;
  line-height: 1.25rem;
  font-size: 0.75rem;
  padding-bottom: 0.25rem;
}
@media screen and (min-width: 768px) {
  .shows__title {
    display: none;
  }
}
.shows__value {
  padding-bottom: 0.75rem;
}
@media screen and (min-width: 768px) {
  .shows__value {
    width: 25%;
    padding-bottom: 0;
  }
}
.shows__date {
  font-weight: 600;
}

.dark-background {
  background-color: #e1e1e1;
}/*# sourceMappingURL=shows.css.map */